body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #333;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.product p {
    margin: 10px 0;
    color: #555;
}

.product p:first-of-type {
    font-weight: bold;
    color: #333;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0PX;
}
